.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background: lightblue;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.NavBar__nav-btn {
  width: 20%;
}

.NavBar__nav-btn-right {
  width: 20%;
}
